body {
    padding-right: 0!important;
}
.store-header-img {
    position:relative;
    height:300px;
}
.store-bg-img {
    position:relative;
    height: 394px;
}
#map {
    margin: 0;
    width: 100%;
    height: 400px;
    box-shadow: none;
}
#store-info-header-change-btn {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 36px);
}
#store-info-bg-change-btn {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 36px);
}
.select2.select2-container.select2-container--bootstrap {
    width: 100%!important;
}
.map_background {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    text-overflow: ellipsis;
    width: calc(100% - 200px);
    border: 0;
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: 500;
    color: #484848;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.37);
    border-radius: 2px;
    max-width: 400px;
}
#pac-input:focus {
    outline: none;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
